.front 
{
	#top 
	{
		height:800px;
	}
	
	#content 
	{
		overflow:visible;
	}

	#block-system-main
	{
		background:none;
		padding:0;
		position:absolute;
		top:-160px;
		width:100%;
		text-align:center;
		color:white;
		font-size:1.125em;
		line-height:125%;

		& > div 
		{
			border:0;
			padding:0 10px;
		}
	}

	#page-title
	{
		height:212px;
		background-image:url(../images/title-front-sides.png);
		background-position:center 30px;

		span 
		{
			height:212px;
			background-image:url(../images/title-front-middle.png);
		}
	}

	#main-wrapper:before
	{
		top:250px;
	}
}
